* {
    box-sizing: border-box;
}

html {
    font-size: 65%; /*10px = 1rem*/
}

body {
    height: 100vh;
    font: 1.7rem;
    margin: 0;
    color: #ffffff;
    font-weight: 100;
    font-size: 1.45rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI", Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'header'
        'main'
        'foooter';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;    
}

header {
    grid-area: header;
    background-color: #343a40;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 2rem;
}

header a {
    color: #ffffff;
}

header a:hover {
    border-bottom: 1px solid #ffffff;
}

.header-btn a {
    margin-left: 2rem;
}

footer {
    background-color: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

#main-container {
    background: url(src/images/background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

/* SERVICES */

.services {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.service {
    text-align: center;
    padding: 1.15rem 1.25rem;
    transition: ease 0.4s all;
}

.service:hover {
    transform: scale(1.1);
}

.service a {
    color: #ffffff;
    font-size: 1.8rem;
}

.content {
    width: 80%;
    margin: 3rem auto;
    color: #797979;
    background-color: #ffffff;
    box-shadow: 6px 6px 7px 0px #343a40;
    padding: 3rem;
}

.back-to-result a {
    color: #2285d9;
}

.back-to-result a:hover {
    border-bottom: solid 1px #2285d9;
}

.content h1, h2, h3, h4, h5, h6 {
    color: #343a40;
}

.content li {
    line-height: 2.6rem;
}

.primary {
    background-color: #2285d9;
    color: #ffffff;
    font-size: 1.5rem;
    border: 1px solid #2285d9;
    padding: 1rem;
    margin-bottom: 1.1rem;
    transition: ease .5s all;
}

.primary:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.5);
}

.overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.overlay > div {
    background-color: #ffffff;
    color: #343a40;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 40rem;
}

.overlay > div > * {
    margin: 2rem;
}

/* CART */

.cart {
    display: flex;
    padding-left: 6rem;
    padding-right: 6rem;
    justify-content: space-between;
}

.cart h2, h3 ul {
    margin-top: 0;
}

.cart-list {
    flex: 3 1 30rem;
    padding-right: 10rem;
}

.cart-list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #797979;
    padding: .6rem 0;
}

.cart-list a {
    color: #343a40;
    font-weight: 400;  
    font-size: 1.5rem;
}

.cart-list a:hover {
    color: #2285d9;
}

.cart-action {
    flex: 1 1 10rem;
}

.delete-button {
    background-color: #797979;
    color: #ffffff;
    border: 1px solid #797979;
    padding: .6rem;
    transition: ease .5s;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.delete-button:hover {
    background-color: #2285d9;
    border: 1px solid #2285d9;
    transform: scale(1.1);
}

.cart-price {
    font-weight: 400;
    color: #343a40;
}

.empty-cart {
    margin-top: 1.5rem;
    font-weight: 400;
    color: #343a40;
}

/* SIGNIN FORM */

.form-container {
    width: 45%;
    text-align: center;
}

.form-items a {
    color: #2285d9;
}

.form-items a:hover {
    border-bottom: 1px solid #2285d9;
}

.form-items h2 {
    font-size: 3rem;
    font-weight: 600;
}

.form-items input {
    width: 85%;
    padding: 1rem;
    border: 2px solid #F7F7F7;
    border-radius: 4px;
    margin: 1rem;
}

.form-items input:focus {
    outline: none;
}

.form-footer {
    width: 85%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
}

/* CHECKOUT STEPS  */

.checkout-steps {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 1rem auto;
}

.checkout-steps > div {
    color: #F0F0F0;
    margin-top: 1.7rem;
    width: 20rem;
    text-align: center;
    border-top: 1px solid #F7F7F7;
}

.checkout-steps > div.active {
    border-top: 1px solid #2285d9;
}

#contact-li {
    display: block;
    border-bottom: none;
    margin-bottom: 2rem;
}

.order-info .cart-list {
    padding-right: 0;
    flex: none;
    width: 75rem;
}

.order-info .cart-list li {
    padding: 1.3rem 0;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile-container {
    width: 75%;
    text-align: center;
}

.profile-info {
    width: 40rem;
}

.profile-orders {
    width: 60rem;
}

.profile-orders td, th {
    padding: 0 1rem;
}

tbody > tr:nth-child(odd) {
    background-color: #F0F0F0;
}

/* DASHOBOARD */

.dashboard {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.dashboard h2 {
    font-size: 3rem;
    margin-top: 0;
}

.dashboard-menu {
    flex: 1 1 20rem;
    background-color: #F0F0F0;
}

.dashboard-menu a {
    display: flex;
    padding: 1rem;
    padding-left: 2rem;
    justify-content: space-between; 
    color: #343a40;
    font-weight: 400;
}

.dashboard-menu a:hover {
    background-color: #F7F7F7;
}

.dashboard-menu li.selected a {
    background-color: #F9F9F9;
    color: #2285d9;
}

.dashboard-content {
    background-color: #F7F7F7;
    flex: 4 1 80rem;
    padding: 1rem;
    color: #343a40;
}

.table {
    width: 90%;
    margin-top: 2rem;
}

.table th, td {
    text-align: start;
    padding-left: 2rem;
}

.buttons-td {
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
}

